.step-4-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20vh;
  height: 100vh;
  
  .icon-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
  }

  h1{
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  span{
    font-size: 16px;
    text-align: center;
    color: #8B8B8B;
  }

  .btn-entrar{
    position: absolute;
    bottom: 10vh;
    max-width: 400px;
    width: 90%;
  }
}