.company-order-container {
	width: 320px;
	padding: 16px;
	border-radius: 8px;
	background: white;
	border: 1px solid rgba(211, 211, 211, 0.356);
	border-right: 8px solid red;
}

.company-order-container .co-header {
	display: flex;
	justify-content: space-between;
}

.co-header .codigo {
	font-weight: 700;
	color: lightgrey;
}

.quantidade-pratos {
	font-weight: 700;
	margin: 1rem 0;
}

.info-container {
	display: flex;
	justify-content: space-between;
	color: #c2c2c2;
}

.select-container {
	width: 80%;
	font-size: 1.2rem;
}
