/* Estilo da navbar */
.navbar-container {
	display: flex;
	border-top: 1px solid rgba(128, 128, 128, 0.123);
	position: fixed;
	bottom: 0;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	background-color: #fff;
	height: 60px;
	z-index: 1000;
	background: white;
}

.nav-link p {
	font-size: 0.7rem;
	font-weight: 600;
}

/* Ãcones e links */
.nav-icon {
	font-size: 24px;
	color: #1d1d1da1;
}

.nav-link {
	text-decoration: none;
	color: #1d1d1d;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-link.active > * {
	color: #7d0000;
}

/* Estilos para telas maiores que 600px */
@media (min-width: 600px) {
	.navbar-container {
		top: 0;
		bottom: 0;
		left: 0;
		width: 60px;
		height: 100%;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border-top: none;
		border-right: 1px solid rgba(128, 128, 128, 0.123);
		row-gap: 2rem;
		padding-top: 4rem;
	}
}

@media (min-width: 900px) {
	.navbar-container {
		width: 200px;
		flex-direction: column;
		border-right: 1px solid rgba(128, 128, 128, 0.123);
		align-items: flex-start;
	}

	.nav-link-container {
		width: 100%;
	}

	.nav-link {
		flex-direction: row;
		column-gap: 1rem;
		padding-left: 2rem;
	}

	.nav-link.active {
		border-left: 3px solid #7d0000;
		background: #7d0000;
	}

	.nav-link.active > * {
		color: white;
	}

	.nav-link p {
		font-size: 1rem;
	}

	.nav-icon {
		font-size: 32px;
	}
}
