.funcionario-form-container {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	width: 100%;
}

.funcionario-form-header {
	display: flex;
	align-items: center;
	flex-direction: column;
	column-gap: 20px;
}

.funcionario-image {
	width: 120px;
	height: 120px;
	background-color: #302f2f;
	border-radius: 50%;
	margin: 1rem 0;
	justify-content: space-between;
	background-size: cover;
	background-position: center;
}
